@using Ihc.CrackSports.Core.Objetos.Enums;
@using Ihc.CrackSports.WebApp.Models.Clube;
@using Ihc.CrackSports.WebApp.Models.Usuarios;
@model UsuarioViewModel

@{
    Layout = "_Layout";
}

<div class="mt-5 ">

    @if (Model.Tipo == TipoUsuario.Aluno)
    {
        @await Html.PartialAsync("Partial/CadastroAlunoPartial", Model)     
    }
    else if (Model.Tipo == TipoUsuario.Club)
    {
        @await Html.PartialAsync("Partial/CadastroClubPartial", new ClubViewModel(Model?.Nome ?? "", Model?.Email ?? ""))
    }

</div>

@section Scripts{
    <script type="text/javascript" src="~/js/club/club.js" asp-append-version="true"></script>
}
