@using Ihc.CrackSports.Core.Authorization.Claims;
@using Ihc.CrackSports.Core.Extensions;
@using Ihc.CrackSports.WebApp.Models.Usuarios;
@model MinhaContaViewModel

@{
    Layout = "_LayoutOrange";
    ViewData["Title"] = "Minha conta";
}

<div class=" mt-5 mb-5">
    @if(Model.TipoUsuario == Ihc.CrackSports.Core.Objetos.Enums.TipoUsuario.Aluno)
    {
        @await Html.PartialAsync("Partial/MinhaConta/_AlunoPartial", Model)        
    }
    else if (Model.TipoUsuario == Ihc.CrackSports.Core.Objetos.Enums.TipoUsuario.Club)
    {
        @await Html.PartialAsync("Partial/MinhaConta/_ClubPartial", Model.ClubViewModel)
    }
</div>

@section Scripts{
    <script src="~/js/aluno/aluno.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/Club/club.js" type="text/javascript" asp-append-version="true"></script>
}