@using Ihc.CrackSports.Core.Authorization;
@model Usuario

<div class="container-fluid">

    <h2>Seja bem vindo, @Model.UserName</h2>
    <h5 class="mt-5">Seu cadastro foi realizado com sucesso !</h5>
</div>