
@font-face {
    font-family: Poppins-Bold;
    src: url('../Fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('../Fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../Fonts/Poppins-SemiBold.ttf');
}

.layout-administrador {
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important
}


.layout-body{

}