@{
    Layout = "_LayoutOrange";
    ViewData["Title"] = "KrakSports - Seja um colaborador";
}


<div class="mt-5 container mb-5">
    <h3 class="text-bold-orange-light">#Joguejunto com a Krak Sports</h3>
    <hr />

    <p class="text-orange-light-normal" style="padding-top: 6rem; font-weight: bold;">Escolha uma das opções abaixo:</p>


    <div class="row">
        <div class="d-inline-flex mb-3 form-seja-colaborador" style="align-items: center;">
            <img class="img-icon-30" src="~/imgs/seta-icon-gg-white.png" />
            <p onclick="onRedirectCadastroPatrocinador()" class="link-redirect-orange" style="margin:0px;">Patrocinador</p>
        </div>

        <div class="d-inline-flex mb-3 form-seja-colaborador" style="align-items: center;">
            <img class="img-icon-30" src="~/imgs/seta-icon-gg-white.png" />
            <p onclick="onRedirectInscricoesAtleta()" class="link-redirect-orange" style="margin:0px;">Atleta</p>
        </div>

        <div class="d-inline-flex mb-5 form-seja-colaborador" style="align-items: center;">
            <img class="img-icon-30" src="~/imgs/seta-icon-gg-white.png" />
            <p onclick="onRedirectInscricoesClube()" class="link-redirect-orange" style="margin:0px;">Clube</p>
        </div>
    </div>
</div>