<div class="row g-width-10 table-brown mt-5">
    <h5 class="text-center mt-2" style="color: #F9D19F;">Atletas</h5>
    <table class="table mt-5">
        <thead>
            <tr>
                <th></th>
                <th class="t-start">Nome</th>
                <th>Idade</th>
                <th>Posição jogador</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 70px;">
                    <img src="~/imgs/aluno1.jpeg" style="width: 35px; height: 35px;"/>
                </td>
                <td class="t-start">Leonidsa</td>
                <td>22 Anos</td>
                <td>Atacante</td>
                <td class="d-inline-flex">
                    <a href="#" class="layout-orange-full-btn"  style="height: 50px; width: 50px; padding: 10px;"> <img src="~/imgs/btEditar.png" style="width: 30px; height: 30px;" /></a>
                    <a href="#" class="layout-orange-full-btn"  style="height: 50px; width: 50px; padding: 10px;"> <img src="~/imgs/excluir.png" style="width: 30px; height: 30px;" /></a>
                </td>
            </tr>
            <tr>
                <td style="width: 70px;">
                    <img src="~/imgs/login-white.png" style="width: 35px; height: 35px;"/>
                </td>
                <td class="t-start">Itachi Uchiha</td>
                <td>22 Anos</td>
                <td>Atacante</td>
                <td class="d-inline-flex">
                    <a href="#" class="layout-orange-full-btn" style="height: 50px; width: 50px; padding: 10px;"> <img src="~/imgs/btEditar.png" style="width: 30px; height: 30px;" /></a>
                    <a href="#" class="layout-orange-full-btn" style="height: 50px; width: 50px; padding: 10px;"> <img src="~/imgs/excluir.png" style="width: 30px; height: 30px;" /></a>
                    
                </td>                
            </tr>
            <tr>
                <td style="width: 70px;">
                    <img src="~/imgs/Exit_house.png" style="width: 35px; height: 35px;"/>
                </td>
                <td class="t-start">Uzumaki Naruto</td>
                <td>22 Anos</td>
                <td>Atacante</td>
                <td class="d-inline-flex">
                    <a href="#" class="layout-orange-full-btn" style="height: 50px; width: 50px; padding: 10px;"> <img src="~/imgs/btEditar.png" style="width: 30px; height: 30px;" /></a>
                    <a href="#" class="layout-orange-full-btn" style="height: 50px; width: 50px; padding: 10px;"> <img src="~/imgs/excluir.png" style="width: 30px; height: 30px;" /></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>