@using Ihc.CrackSports.Core.Objetos.Clube;
@model IEnumerable<Club>


<div class="modal-dialog" style="margin-top: 200px;">
    <div class="modal-content layout-orange-full radius-form p-3">
        <div class="row g-width-10 table-brown">

            <table class="table mt-5">
               <thead>

               </thead>
               <tbody>

               </tbody>
            </table>
        </div>
    </div>
</div>
