<div id="chatPartial">
    <div>
        <a class="btn">chat em grupo -</a>
    </div>

    <div id="pnlConteudo" class="d-none">
        
        <div class="card-chat-message">
            <img alt="imagem usuario" />
            <div>
                <p>Leonidas esparta</p> <p>10:00</p>                
            </div>
            <div id="pnlMensagem">
                Olá mundo
            </div>
        </div>
    </div>
</div>