@using Ihc.CrackSports.WebApp.Models.Clube;
@model PaginacaoClubViewModel

@{
    Layout = "_Layout";
}

<div class="mt-5">
    <h3 class="text-semi-bold-orange mt-5 ms-5">Clubes</h3>
    <hr />
</div>
