.form-resultado {
    width: 100%;
    place-content: baseline;
}

    .form-resultado label, .form-resultado select, .form-resultado input {
        font-size: 15px;
        line-height: 2rem;
    }


.pnl-time-1 select {
    border-color: orange;
    color: orange;
}

    .pnl-time-1 select:focus {
        background-color: orange;
    }


.pnl-time-1 input {
    border-color: orange;
    color: orange;
}

    .pnl-time-1 input:focus {
        background-color: orange;
    }


.text-time-1 {
    color: orange;
}


.pnl-time-2 span, .pnl-time-2 label {
    color: brown;
}

.pnl-time-2 a {
    background-color: brown;
}

.text-time-2 {
    color: brown;
}






.table-time-1 {
}

.table-time-1 thead{
    background-color: brown;
    color: ghostwhite;
}


    .table-time-1 tbody tr {
        background-color: beige;
        
    }


    .table-time-1 span {
        color: brown;
    }



.table-time-2 {
}

    .table-time-2 thead {
        background-color: brown;
        color: ghostwhite;
    }


    .table-time-2 tbody tr {
        background-color: beige;
    }


    .table-time-2 span {
        color: brown;
    }

    .table-time-2 a{
        background-color: transparent !important;
    }




.card-evento {
    border-radius: 50px;
    padding: 15px;
}

.card-evento:hover{
    background-color: gainsboro !important;
}