.placar {
    min-height: 200px;


}

.placar span{
    color: orange;
}

.placar p {

}


.accordion-atletas-evt {
    min-height: 40px;
    background-color: beige;
    border: 1px solid brown;
}

.accordion-atletas-evt span{
    color: brown;
    font-weight: bold;    
}

.accordion-atletas-evt img{
    width: 35px;
    height: 35px;
}

.btn-accordion{
    cursor: pointer;
    
}

    .btn-accordion:hover {
        transform: scale(1.02) !important;
    }


.img-accordion-cima {
    transform: rotate(180deg);
    transition: 0.5s;
}

.img-accordion-normal {
    transition: 0.5s;
}