@font-face {
    font-family: Poppins-Bold;
    src: url('../Fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('../Fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../Fonts/Poppins-SemiBold.ttf');
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    background-color: ghostwhite;
}

    html body {
        background-color: ghostwhite;
        font-family: Poppins-Light;
    }

    html header {
        background-color: brown !important;
        color: ghostwhite !important;
    }

    html nav {
        background-color: brown !important;
        font-family: Poppins-SemiBold;
        font-size: 14px;
        color: ghostwhite !important;
    }

        html nav a {
            color: ghostwhite !important;
        }



.nav-link body {
    margin-bottom: 60px;
}

.link-redirect-orange {
    color: ghostwhite;
    font-weight: bold;
    font-family: Poppins-Bold;
    text-decoration: none;
}

    .link-redirect-orange:hover {
        color: #F9D19F !important;
    }

    .link-redirect-orange a:hover {
        color: #F9D19F !important;
        transform: scale(1.1);
        transition: all 0.5s;
    }


.img-icon-nav {
    width: 20px;
    height: 20px;
}

.text-semi-bold-light {
    font-weight: bold;
    font-family: Poppins-SemiBold;
}

.text-bold-light {
    font-weight: bold;
    font-family: Poppins-Bold;
}

.text-bold-orange {
    font-weight: bold;
    font-family: Poppins-Bold;
    color: #FA8C05 !important;
}

.text-bold-orange-light {
    font-weight: bold;
    font-family: Poppins-Bold;
    color: #F9D19F;
}

.text-semi-bold-orange {
    font-weight: bold;
    font-family: Poppins-SemiBold;
    color: #800000;
}

.text-regular-orange {
    font-weight: bold;
    font-family: Poppins-Light;
    color: brown;
}

.btn-confirm-radius-escuro {
    border-radius: 20px;
    background-color: #D9740D;
    color: ghostwhite;
    min-width: 120px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

    .btn-confirm-radius-escuro:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        color: ghostwhite;
    }

.btn-confirm-radius {
    border-radius: 20px;
    background-color: brown;
    color: ghostwhite;
    min-width: 120px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


    .btn-confirm-radius:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        color: ghostwhite;
    }


.btn-voltar {
    min-width: 120px;
    border: none;
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

    .btn-voltar:hover {
        color: #F9D19F !important;
    }

.btn-voltar-radius {
    border-radius: 20px;
    min-width: 120px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

    .btn-voltar-radius:hover {
        transform: scale(1.1);
        transition: all 0.5s;
    }

.form-checkbox-input {
    background-color: brown;
    border-color: brown;
}

    .form-checkbox-input:checked {
        background-color: brown;
        border-color: brown;
    }

.span-content {
    line-height: 26px;
    color: brown;
}


.layout-light-full {
    background-color: ghostwhite;
}

    .layout-light-full input {
        background-color: ghostwhite;
        color: brown;
    }

    .layout-light-full label, .layout-light-full p {
        background-color: ghostwhite;
        color: brown;
    }

.layout-orange-full {
    background-color: #800000;
}

.radius-form {
    border-radius: 100px;
}

.layout-orange-full h3, .layout-orange-full h4, .layout-orange-full h5, .layout-orange-full small {
    color: white;
    font-family: Poppins-Bold;
}

.layout-orange-full b {
    font-family: Poppins-Bold;
    color: white;
}

.layout-orange-full label, .layout-orange-full p {
    font-family: Poppins-Light;
    color: ghostwhite;
    text-decoration: none;
}


.layout-orange-full-btn {
    border-radius: 15px;
}

    .layout-orange-full-btn:hover {
        background-color: brown !important;
        border-radius: 15px;
    }

.text-white-light a {
    font-family: Poppins-Light;
    color: ghostwhite !important;
    text-decoration: none;
}



.ag-field-label {
    font-family: Poppins-Light !important;
    font-size: 1.4rem;
    letter-spacing: .5px;
    line-height: 3rem;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transition: all .3s ease;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}

.ag-field-input:focus ~ .ag-field-label {
    font-family: Poppins;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    line-height: calc(18px + 2 * ((100vw - 320px) / 447));
    transform: translate3d(0,-120%,0);
}

.ag-field-input:valid ~ .ag-field-label {
    font-family: Poppins;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    line-height: calc(18px + 2 * ((100vw - 320px) / 447));
    transform: translate3d(0,-120%,0)
}

@media only screen and (min-width: 768px) {
    .ag-field-input:focus ~ .ag-field-label {
        line-height: 2rem
    }
}


.ag-field-input {
    font-family: Poppins-Light;
    font-size: 1.2rem;
    letter-spacing: .5px;
    line-height: 3rem;
    border: 0;
    outline: 0;
    border-bottom: 1px solid;
    padding-bottom: .5rem;
    width: 100%;
    border-radius: 50px;
}

    .ag-field-input:disabled ~ .ag-field-label {
        font-family: Poppins;
        font-size: 1.1rem;
        letter-spacing: .1rem;
        line-height: calc(18px + 2 * ((100vw - 320px) / 447));
        transform: translate3d(0,-120%,0);
    }

    .ag-field-input:focus {
        background-color: #800000;
        color: ghostwhite;
    }

.ag-field {
    position: relative
}

.ag-input-color-orange-full {
    background-color: #800000;
    color: ghostwhite;
}

.ag-input-color-light-full {
    background-color: ghostwhite;
    color: brown;
}


.ag-field-content {
    position: relative;
    margin-top: 2.2rem;
    padding-bottom: 7px;
}

.g-width-10 {
    width: 100%;
}

.g-width-9 {
    width: 90%;
}

.g-width-8 {
    width: 80%;
}

.g-width-7 {
    width: 70%;
}

.g-width-6 {
    width: 60%;
}

.g-width-5 {
    width: 50%;
}

.g-width-4 {
    width: 40%;
}

.g-width-3 {
    width: 30%;
}

.g-width-2 {
    width: 20%;
}

.g-width-1 {
    width: 10%;
}

.validacao-senha {
    color: darkred;
    font-weight: bold;
    align-self: center;
    margin-top: 5% !important;
}


.card-dados-aluno {
    border-radius: 50px;
    border: 1px solid #F9D19F;
    padding: 20px;
}

.card-content-dados-aluno {
    align-items: center;
    overflow-wrap: anywhere;
    max-width: 100% !important;
    min-width: 75% !important;
    width: 100%;
}

.icon-description {
    background-color: brown;
    color: ghostwhite;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    text-align: center;
}

.tooltip-inner {
    background-color: brown !important;
    color: ghostwhite !important;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: brown !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-right-color: brown !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: brown !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-right-color: brown !important;
}

.hr-light {
    color: #F9D19F !important;
    opacity: 1;
}

.hr-brown {
    color: brown !important;
    opacity: 1;
}
