@font-face {
    font-family: Poppins-Bold;
    src: url('../Fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('../Fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../Fonts/Poppins-SemiBold.ttf');
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    background-color: ghostwhite;
}

    html body {
        background-color: ghostwhite;
        font-family: Poppins-Light;
    }

    html header {
        background-color: brown !important;
        color: ghostwhite !important;
    }

    html nav {
        background-color: brown !important;
        font-family: Poppins-SemiBold;
        font-size: 14px;
        color: ghostwhite !important;
    }

        html nav a {
            color: ghostwhite !important;
        }



.nav-link body {
    margin-bottom: 60px;
}

.navbar-white .navbar-toggler-icon {
    background-image: url(menu-icon2.png);
    background-color: #cccccc;
}

.link-redirect-orange {
    color: ghostwhite;
    font-weight: bold;
    font-family: Poppins-Bold;
    text-decoration: none;
}

    .link-redirect-orange:hover {
        color: #F9D19F !important;
        cursor: pointer;
    }

    .link-redirect-orange a:hover {
        color: #F9D19F !important;
        transform: scale(1.1);
        transition: all 0.5s;
    }


.img-icon-nav {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.form-seja-colaborador {
}

    .form-seja-colaborador .link-redirect-orange:hover {
        transform: scale(1.1);
        transition: all 0.5s;
    }

.text-orange-light-normal {
    font-family: Poppins-Light;
    color: #F9D19F;
}

.text-semi-bold-light {
    font-weight: bold;
    font-family: Poppins-SemiBold;
}

.text-bold-light {
    font-weight: bold;
    font-family: Poppins-Bold;
}

.text-bold-orange {
    font-weight: bold;
    font-family: Poppins-Bold;
    color: #FA8C05 !important;
}

.text-bold-orange-light {
    font-weight: bold;
    font-family: Poppins-Bold;
    color: #F9D19F;
}

.text-semi-bold-orange {
    font-weight: bold;
    font-family: Poppins-SemiBold;
    color: #800000;
}

.text-regular-orange {
    font-weight: bold;
    font-family: Poppins-Light;
    color: brown;
}

.btn-confirm-radius-escuro {
    border-radius: 20px;
    background-color: #D9740D;
    color: ghostwhite;
    min-width: 120px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

    .btn-confirm-radius-escuro:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        color: ghostwhite;
    }

.btn-radius {
    border-radius: 20px;
}

    .btn-radius:hover {
        transform: scale(1.1);
        transition: all 0.5s;
    }

.btn-confirm-radius {
    border-radius: 20px;
    background-color: brown;
    color: ghostwhite;
    min-width: 120px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

    .btn-confirm-radius:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        color: ghostwhite;
    }

.btn-voltar-radius {
    border-radius: 20px;
    background-color: ghostwhite;
    color: brown;
    min-width: 120px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.btn-close-modal {
    color: brown !important;
}

    .btn-close-modal:hover {
        color: #FA8C05 !important;
    }


.btn-voltar {
    min-width: 120px;
    border: none;
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

    .btn-voltar:hover {
        color: #F9D19F !important;
        border-color: #F9D19F !important;
    }

.btn-voltar-radius {
    border-radius: 20px;
    min-width: 120px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

    .btn-voltar-radius:hover {
        transform: scale(1.1);
        transition: all 0.5s;
    }

.form-checkbox-input {
    background-color: brown;
    border-color: brown;
}

    .form-checkbox-input:checked {
        background-color: brown;
        border-color: brown;
    }

.span-content {
    line-height: 26px;
    color: brown;
}


.layout-light-full {
    background-color: ghostwhite;
}

    .layout-light-full input {
        background-color: ghostwhite;
        color: brown;
    }

    .layout-light-full label, .layout-light-full p {
        background-color: ghostwhite;
        color: brown;
    }

.layout-orange-full {
    background-color: #800000;
}

.radius-form {
    border-radius: 100px;
}

.layout-orange-full h3, .layout-orange-full h4, .layout-orange-full h5, .layout-orange-full small {
    color: white;
    font-family: Poppins-Bold;
}

.layout-orange-full b {
    font-family: Poppins-Bold;
    color: white;
}

.layout-orange-full label, .layout-orange-full p {
    font-family: Poppins-Light;
    color: ghostwhite;
    text-decoration: none;
}


.layout-orange-full-btn {
    border-radius: 15px;
}

    .layout-orange-full-btn:hover {
        background-color: brown !important;
        border-radius: 15px;
    }

.text-white-light a {
    font-family: Poppins-Light;
    color: ghostwhite;
    text-decoration: none;
}

.form-small {
}

    .form-small .ag-field-input {
        font-family: Poppins-Light;
        font-size: 1rem;
        letter-spacing: .5px;
        border: 0;
        outline: 0;
        border-bottom: 1px solid;
        padding-bottom: .5rem;
        width: 100%;
        border-radius: 50px;
        line-height: 1rem;
        background-color: transparent;
        color: brown;
    }

    .form-small .ag-field-label {
        font-family: Poppins-Light !important;
        font-size: 1rem;
        letter-spacing: .5px;
        position: absolute;
        left: 0;
        pointer-events: none;
        transition: all .3s ease;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 10px;
        line-height: 1rem;
        margin-top: 0.5rem;
    }

    .form-small .ag-field-input:focus ~ .ag-field-label {
        font-family: Poppins;
        font-size: 1rem;
        letter-spacing: .1rem;
        line-height: 1.2rem;
        transform: translate3d(0,-120%,0);
        margin-top: 0px;
    }

    .form-small .ag-field-input:valid ~ .ag-field-label {
        font-family: Poppins;
        font-size: 1rem;
        letter-spacing: .1rem;
        line-height: 1.2rem;
        transform: translate3d(0,-120%,0);
        margin-top: 0px;
    }


    .form-small .ag-field-input:read-only ~ .ag-field-label {
        font-family: Poppins;
        font-size: 1rem;
        letter-spacing: .1rem;
        line-height: 1.2rem;
        transform: translate3d(0,-120%,0);
        margin-top: 0px;
    }

.ag-field-label {
    font-family: Poppins-Light !important;
    font-size: 1.4rem;
    letter-spacing: .5px;
    line-height: 3rem;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transition: all .3s ease;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}

.ag-field-input:focus ~ .ag-field-label {
    font-family: Poppins;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    line-height: calc(18px + 2 * ((100vw - 320px) / 447));
    transform: translate3d(0,-120%,0);
}

.ag-field-input:valid ~ .ag-field-label {
    font-family: Poppins;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    line-height: calc(18px + 2 * ((100vw - 320px) / 447));
    transform: translate3d(0,-120%,0)
}

@media only screen and (min-width: 768px) {
    .ag-field-input:focus ~ .ag-field-label {
        line-height: 2rem
    }
}


.ag-field-input {
    font-family: Poppins-Light;
    font-size: 1.2rem;
    letter-spacing: .5px;
    line-height: 3rem;
    border: 0;
    outline: 0;
    border-bottom: 1px solid;
    padding-bottom: .5rem;
    width: 100%;
    border-radius: 50px;
}

    .ag-field-input:disabled ~ .ag-field-label {
        font-family: Poppins;
        font-size: 1.1rem;
        letter-spacing: .1rem;
        line-height: calc(18px + 2 * ((100vw - 320px) / 447));
        transform: translate3d(0,-120%,0);
    }

    .ag-field-input:focus {
        background-color: #800000;
        color: ghostwhite;
    }

.ag-field {
    position: relative
}

.ag-input-color-orange-full {
    background-color: #800000;
    color: ghostwhite;
}

.ag-input-color-light-full {
    background-color: ghostwhite;
    color: brown;
}


.ag-field-content {
    position: relative;
    margin-top: 2.2rem;
    padding-bottom: 7px;
}

.g-width-10 {
    width: 100%;
}

.g-width-9 {
    width: 90%;
}

.g-width-8 {
    width: 80%;
}

.g-width-7 {
    width: 70%;
}

.g-width-6 {
    width: 60%;
}

.g-width-5 {
    width: 50%;
}

.g-width-4 {
    width: 40%;
}

.g-width-3 {
    width: 30%;
}

.g-width-2 {
    width: 20%;
}

.g-width-1 {
    width: 10%;
}

.validacao-senha {
    color: darkred;
    font-weight: bold;
    align-self: center;
    margin-top: 5% !important;
}


.card-dados-aluno {
    border-radius: 50px;
    border: 1px solid #F9D19F;
    padding: 20px;
    box-shadow: 1px 1px 50px 1px #00000066;
}

.card-content-dados-aluno {
    align-items: center;
    overflow-wrap: anywhere;
    max-width: 100% !important;
    min-width: 75% !important;
    width: 100%;
}

.icon-description {
    background-color: brown;
    color: ghostwhite;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    text-align: center;
}

.tooltip-inner {
    background-color: brown !important;
    color: ghostwhite !important;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: brown !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: brown !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: brown !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: brown !important;
}

.tooltip-bottom {
    position: relative;
    display: inline-block;
}

    .tooltip-bottom .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: brown;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -60px;
    }

    .tooltip-bottom:hover .tooltiptext {
        visibility: visible;
    }

.hr-light {
    color: #F9D19F !important;
    opacity: 1;
}

.hr-brown {
    color: brown !important;
    opacity: 1;
}
/*
    Tabela Head brown e corpo ghostwhite

*/

.table-brown table {
    border: 5px solid ghostwhite;
    color: black;
    font-weight: bold;
    box-shadow: 1px 1px 50px 1px #00000066;
}

.table-brown thead {
    color: #F9D19F;
    text-align-last: center;
    background-color: brown !important;
}

.table-brown .t-start {
    text-align-last: start !important;
}

.table-brown tbody {
    background-color: ghostwhite;
    font-weight: bold;
    text-align-last: center;
}

.table-brown img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.table-brown .btn-table-acao {
    display: inline-flex;
    margin-left: 5px;
}

.table-brown tbody tr {
    vertical-align: baseline;
}

    .table-brown tbody tr td {
        padding: 0.4rem;
    }


.border-none {
    border: 0px !important;
}

.row-i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-i {
    border-radius: 50px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    max-width: 400px;
    transition: all 0.3s ease-out;
    background-color: white;
}

    .card-i:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }


.image-i {
    float: right;
    max-width: 64px;
    max-height: 64px;
}

.row-card {
    place-content: center;
}

.card-club {
    border-radius: 100px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 200px;
    transition: all 0.3s ease-out;
    text-align-last: center;
    min-height: 200px;
    background-color: white;
}

    .card-club:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }

.image-club {
    margin-top: 30px;
    max-width: 64px;
    max-height: 64px;
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

.paginacao-icon {
    max-width: 50px;
    max-height: 50px;
    transition: all 0.3s ease-out;
}

    .paginacao-icon:hover {
        cursor: pointer;
        transform: translateY(-5px);
    }



.club-apresentacao {
}

    .club-apresentacao b {
        color: #FA8C05;
    }

    .club-apresentacao li a {
        color: brown;
        font-weight: bold;
        border: 0px;
    }

    .club-apresentacao .nav-link {
        border: 0px;
    }

        .club-apresentacao .nav-link.active {
            color: brown;
            border-bottom: 6px solid !important;
            background-color: transparent !important;
        }

        .club-apresentacao .nav-link:hover {
            border-bottom: 6px solid !important;
            color: brown;
        }

        .club-apresentacao .nav-link:focus {
            border-bottom: 0px;
            color: brown;
        }


/*Ajustando load nas chamadas POST*/
.c-loader-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 28%)
}



/*Ajustando barra de rolagem*/
.scroll-brown::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.scroll-brown::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background-color: ghostwhite; /* color of the tracking area */
}

.scroll-brown::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: brown; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid ghostwhite; /* creates padding around scroll thumb */
}

/*Styles BARRA de NOTIFICACOES */
.bar-notifications {
    display: block;
    background-color: brown;
    border-radius: 50px;
    padding: 15px;
    margin-left: 68%;
    position: absolute;
    max-height: 80vh;
    width: 30%;
    color: ghostwhite;
}

.notification-nao-vista {
    background-color: #FFC99D55;
}


.card-notification {
    cursor: pointer;
    border-radius: 50px;
    padding: 15px;
    width: 100% !important;
}

    .card-notification:hover {
        background-color: beige !important;
        color: black;
        border: 0px !important;
    }

    .card-notification .btn-confirm-radius {
        border: 1px solid beige;
        border-radius: 20px;
        color: #F9D19F;
        min-width: 120px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

        .card-notification .btn-confirm-radius:hover {
            background-color: brown;
            color: ghostwhite;
        }


.select-club li {
}

    .select-club li:hover {
        cursor: pointer;
        background-color: #F9D19F !important;
    }

@media only screen and (max-width: 600px) {
    .bar-notifications {
        padding: 0px;
        margin: 0px;
        width: 100%;
        display: block;
        background-color: brown;
        border-radius: 15px;
        position: absolute;
        max-height: 80vh;
        color: ghostwhite;
        margin-top: 5.5vh !important;
    }

    .g-sm-width-10 {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 601px) {
    .bar-notifications {
        padding: 0px;
        margin: 0px;
        width: 50%;
        display: block;
        background-color: brown;
        border-radius: 15px;
        position: absolute;
        max-height: 80vh;
        color: ghostwhite;
        margin-top: 4.5vh !important;
        margin-left: 45%;
    }

    .cards-index {
        display: block !important;
        text-align: -webkit-center !important;
    }
}

