@using Ihc.CrackSports.Core.Objetos.Colaborador;
@using Newtonsoft.Json;
@model Patrocinador

@{
    Layout = null;
    ViewBag.Title = "Inativar patrocinador";
}

<div class="modal-dialog" style="margin-top: 200px;">
    <div class="modal-content layout-light-full  p-3">
        <form class=" text-white-light ">
            <div class="modal-header">
                <h4 class="modal-title text-semi-bold-orange" style="font-size: 20px; color: #FA8C05 !important;">Inativação do Patrocinador</h4>
                <a class="link-redirect-orange btn-close-modal" style="cursor: pointer;font-weight: bold; font-size: 25px; margin-right: 10px; " onclick="closeModalExcluirEvento()">X</a>
            </div>
            <div class="modal-body border-none">
                <div class="form-outline ag-field-content g-width-10">
                    <h6 class="text-semi-bold-orange">Deseja realmente inativar o Patrocinador: </h6>
                    <p class="text-semi-bold-orange" style="font-size: 20px;"><b style="color: black !important;">@(Model.NomeOuRazaoSocial)</b> ?</p>
                </div>

            </div>
            <div class="modal-footer border-none">
                <div class="mt-2">
                    <button class="btn  btn-block btn-confirm-radius" type="submit" onclick="inativarPatrocinador(@JsonConvert.SerializeObject(Model))">Confirmar</button>
                    <a class="btn btn-block btn-voltar-radius btn-close-modal mx-2" onclick="closeModal('modal')" style="cursor: pointer; ">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
