@using Ihc.CrackSports.WebApp.Models.Alunos;
@using Ihc.CrackSports.Core.Objetos.Alunos;

@model DadosAlunoViewModel

@{
    Layout = "_Layout";
}


<div class="mt-5 ">


    <h3 class="text-semi-bold-orange ms-5"> Atualizar dados gerais</h3>


    <div class=" col-9 d-inline-flex mt-5 w-100">
        <form class="form-group form-control layout-light-full radius-form" asp-action="DadosGerais" asp-controller="Aluno" method="post"
              style="border-color: brown; padding: 5%;">
            <!--Hidden Inputs-->
            <input asp-for="DadosAluno.Responsavel.Id" type="text" class="d-none" />
            <input asp-for="DadosAluno.Usuario.Id" type="text" class="d-none" />
            <input asp-for="DadosAluno.Email" type="text" class="d-none" />

            <!--FIMHidden Inputs-->
            <!--Dados do responsável-->
            <div id="pnlDadosResponsavel">
                <h5 class="text-semi-bold-orange mt-5">Dados do responsável</h5>

                <div class="form-outline  mt-5 ag-field-content g-width-10">

                    <input asp-for="DadosAluno.Responsavel.Nome" type="text" id="txtNomeResponsavel" class="form-control ag-field-input ag-input-color-light-full valida-campos-obrigatorios" autocomplete="off" minLenght="4" required />
                    <label id="txtNomeResponsavelLabel" class="form-label text-semi-bold-light ag-field-label" for="txtNomeResponsavel">Nome do responsável*</label>
                </div>

                <div class="d-inline-flex g-width-10">
                    <div class="form-outline  ag-field-content g-width-5">

                        <input asp-for="DadosAluno.Responsavel.Documento" type="text" id="txtDocumentoResponsavel" class="form-control ag-field-input ag-input-color-light-full w-10 valida-campos-obrigatorios" minLenght="4" autocomplete="off" required />
                        <label id="txtDocumentoResponsavelLabel" class="form-label text-semi-bold-light ag-field-label" for="txtDocumentoResponsavel">RG*</label>
                    </div>


                    <div class="form-outline  ag-field-content g-width-5 ms-3">
                        <input asp-for="DadosAluno.Responsavel.CpfCnpjString" type="text" id="txtCpfResponsavel" class="form-control ag-field-input ag-input-color-light-full" data-mask="000.000.000-00" autocomplete="off" required />
                        <label class="form-label text-semi-bold-light ag-field-label" for="txtCpfResponsavel">CPF</label>
                    </div>
                </div>

                <div class="form-outline mb-4 mt-5 ag-field-content g-width-5">


                    <select asp-for="DadosAluno.Responsavel.GrauParentesco" id="cmbGrauParentesco" class="form-select ag-field-input ag-input-color-light-full" value="@Model.DadosAluno.Responsavel.GrauParentesco">
                        <option selected>Selecionar</option>
                        <option value="Pai">Pai</option>
                        <option value="Mãe">Mãe</option>
                        <option value="Avó/Avô">Avó/Avô</option>
                        <option value="Tio/Tia">Tio/Tia</option>
                        <option value="Irmão/Irmã">Irmão/Irmã</option>
                    </select>
                    <label class="form-label text-semi-bold-light ag-field-label" for="cmbGrauParentesco">Grau parentesco*</label>
                </div>

                <!--Contato responsavel-->
                <h5 class="text-semi-bold-orange mt-5">Contato do responsável</h5>
                <div class="d-inline-flex g-width-10">
                    <div class="form-outline  ag-field-content g-width-5">
                        <input asp-for="DadosAluno.Telefone" type="tel" id="txtTelefoneResponsavel" class="form-control ag-field-input ag-input-color-light-full w-10" data-mask="(00)0000-0000" autocomplete="off" required />
                        <label id="txtTelefoneResponsavelLabel" class="form-label text-semi-bold-light ag-field-label" for="txtTelefoneResponsavel">Telefone</label>
                    </div>


                    <div class="form-outline mb-4 ag-field-content g-width-5 ms-3">
                        <input asp-for="DadosAluno.Celular" type="text" id="txtCelularResponsavel" class="form-control ag-field-input ag-input-color-light-full valida-campos-obrigatorios" data-mask="(00)00000-0000" minLenght="6" autocomplete="off" required />
                        <label id="txtCelularResponsavelLabel" class="form-label text-semi-bold-light ag-field-label" for="txtCelularResponsavel">Celular*</label>
                    </div>
                </div>
                <!--FIM Contato responsavel-->

            </div>
            <!--FIM Dados do responsável-->
            <!--Dados gerais-->
            <div id="pnlDadosGerais">
                <h5 class="text-semi-bold-orange mt-5">Dados gerais</h5>

                <div class="form-outline mt-5 ag-field-content g-width-7">
                    <input asp-for="DadosAluno.Endereco.CEP" type="text" id="txtCep" class="form-control ag-field-input ag-input-color-light-full valida-campos-obrigatorios" data-mask="00000-000" minLength="4" autocomplete="off" required />
                    <label id="txtCepLabel" class="form-label text-semi-bold-light ag-field-label" for="txtCep">CEP*</label>
                </div>

                <div class="form-outline ag-field-content">

                    <input asp-for="DadosAluno.Endereco.Logradouro" type="text" id="txtLogradouro" class="form-control ag-field-input ag-input-color-light-full " autocomplete="off" required />
                    <label id="txtLogradouroLabel" class="form-label text-semi-bold-light ag-field-label" for="txtLogradouro">Endereço</label>
                </div>

                <div class="d-inline-flex g-width-10">
                    <div class="form-outline  ag-field-content g-width-4">
                        <input asp-for="DadosAluno.Endereco.Numero" type="text" id="txtNumero" class="form-control ag-field-input ag-input-color-light-full w-10" data-mask="0000000" autocomplete="off" required />
                        <label class="form-label text-semi-bold-light ag-field-label" for="txtNumero">Nº</label>
                    </div>


                    <div class="form-outline  ag-field-content g-width-10 ms-3">
                        <input asp-for="DadosAluno.Endereco.Cidade" type="text" id="txtCidade" class="form-control ag-field-input ag-input-color-light-full" autocomplete="off" required />
                        <label class="form-label text-semi-bold-light ag-field-label" for="txtCidade">Cidade</label>
                    </div>

                    <div class="form-outline  ag-field-content g-width-4 ms-3">
                        <input asp-for="DadosAluno.Endereco.UF" type="text" id="txtUF" class="form-control ag-field-input ag-input-color-light-full" autocomplete="off" required />
                        <label class="form-label text-semi-bold-light ag-field-label" for="txtUF">UF</label>
                    </div>
                </div>

                <div class="form-outline mb-4 ag-field-content g-width-7">

                    <input asp-for="DadosAluno.Endereco.Complemento" type="text" id="txtComplemento" class="form-control ag-field-input ag-input-color-light-full " autocomplete="off" required />
                    <label class="form-label text-semi-bold-light ag-field-label" for="txtComplemento">Complemento</label>
                </div>

                <!-- Checkbox novidades e itens-->
                @* <div class="form-check">
                    <label class="form-check-label" for="chkAutorizaEmailNovidades"> Gostaria de receber informações sobre novidades, eventos e itens do Club por e-mail. </label>
                    <input class="form-check-input form-checkbox-input" type="checkbox" id="chkAutorizaEmailNovidades" />

                </div> *@
            </div>
            <!--FIM Dados gerais-->
            <div class="mb-4 ms-5 mx-4 mt-5">
                <button id="btnCriarConta" class="btn  btn-block btn-confirm-radius" type="submit">Salvar</button>
                <a id="btnVoltar" href="#" class=" btn-voltar mx-5" onclick="redirectMinhaConta()">Voltar</a>
            </div>
        </form>
    </div>

</div>
