


<div class="daterangepicker">
	<div class="daterangepicker-container">
		<div class="drp-calendar left">
			<div class="calendar-table">		
			</div>
			<div class="calendar-time">
			</div>
		</div>
		<div class="drp-calendar right">
			<div class="calendar-table">
			</div>
			<div class="calendar-time">
			</div>
		</div>
		<div class="drp-buttons">
			<div class="ranges">
			</div>
			<span class="text-consulta"></span>
			<div class="buttonsCalendar">
				<button class="cancelBtn" type="button"></button>
				<button id="btnApply" class="applyBtn" disabled="disabled" type="button"></button>
			</div>
		</div>
	</div>
</div>