@using Ihc.CrackSports.Core.Authorization.Claims;
@using Ihc.CrackSports.Core.Authorization;
@model Usuario
@{
    Layout = "_LayoutAdministrador";
}


<div class="mt-5 ms-5 mx-5">

    <h3 class="text-bold-orange">Painel do administrador</h3>
    <hr class="mb-5" />

    
    
</div>