@using Ihc.CrackSports.Core.ViewModel.Colaborador;
@model PatrocinadoresAdminViewModel
@{
    Layout = null;
}


<div class="mt-5 ms-5 mx-5">

    <h3 class="text-bold-orange">Patrocinadores</h3>
    <hr />

    <div id="dgvPatrocinadores" class="">
        <div class="d-block d-md-inline-flex mt-5 g-width-10 club-apresentacao">

            <div id="pnlOpcoes" class="g-width-8 ms-3">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a id="tabPatrocinadoresAtivos" class="nav-link active" href="#" onclick="onClickTab('PatrocinadoresAtivos')">Ativos</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabSolicitacoes" class="nav-link" href="#" onclick="onClickTab('Solicitacoes')">Novas Solicitações </a>
                    </li>

                    <li class="nav-item">
                        <a id="tabInativos" class="nav-link" href="#" onclick="onClickTab('Inativos')">Inativos</a>
                    </li>

                    <li class="nav-item">
                        <a id="tabRendimentos" class="nav-link" href="#" onclick="onClickTab('Rendimentos')">Indicadores de reviews</a>
                    </li>
                </ul>

                <div id="pnlPatrocinadoresAtivos" class="mt-5" style="min-height: 150px;">
                    @await Html.PartialAsync("Partial/Patrocinadores/_ListaPatrocinadoresPartial", Model.Ativos)
                </div>

                <div id="pnlSolicitacoes" class="d-none mt-5" style="min-height: 150px;">

                    @await Html.PartialAsync("Partial/Patrocinadores/_ListaPatrocinadoresPartial", Model.Solicitacoes)

                </div>

                <div id="pnlInativos" class="d-none mt-5" style="min-height: 150px;">
                    @await Html.PartialAsync("Partial/Patrocinadores/_ListaPatrocinadoresPartial", Model.Inativos)
                </div>

                <div id="pnlRendimentos" class="d-none mt-5" style="min-height: 150px;">
                    <h3 class="text-bold-orange"> Em breve traremos este recurso para você.</h3>
                </div>
            </div>
        </div>
    </div>


    
</div>
