@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Seja bem vindo</h1>
    <p class="mt-5">Para mais detalhes sobre as inscrições, clique em <a href="https://docs.microsoft.com/aspnet/core" class=" link-redirect-orange">Saiba mais</a>.</p>
</div>
