@{
    ViewData["Title"] = "Políticas de privacidade";
}

<div class="container mt-5 layout-light-full mb-5">
    <h1 class="text-semi-bold-orange">@ViewData["Title"]</h1>
    <hr />

    <div class="mt-5">
        <ul style="list-style: decimal;">
            <li>
                <p>Esta página utiliza-se de <b>cookies</b> para personalizar sua navegação.</p>
            </li>
            <li>
                <p>Seus dados são protegidos por criptografia durante toda a navegação e utilização dos nossos <b>serviços</b>.</p>
            </li>
            <li>
                <p>A Equipe da <b>KrakSports</b> não solicita sua senha em hipótese alguma, fique atento e denuncie.</p>
            </li>
        </ul>
    </div>
</div>


